/*desktop*/
#content {
    width: 75%;
    margin: auto;
    line-height: 1.5em;
    font-size: 1.5em;
}

/*phone*/

@media (orientation: portrait) {
   { #content
     {width:100%;
    line-height: 1.5 em;
    font-size: 1.5 em;}
}

#nav-bar {
    display: flex;
    flex-direction: row;
    background-color:rgba(205, 106, 40, 0.627) ;
}

.nav-button {
    margin: auto;}

.nav-button a {
    font-family: 'Courier New', Courier, monospace;
    background-color: black;
    text-decoration: none;
    font-weight: bold;
}
